.form {
    padding-left: 150px;
   width: 200px;
}

.form-field {
    color: slategray;
    font-size: 20px;
}

.form-field-input {
    width: 200px;
    height: 30px;
    border: 2px solid slategray;
    display: inline-block;
}