.main-header {
    width: 100vw;
    height: 10vh;
    background-color: slategray;
    color: cornsilk;
    padding: 1% 0 0 10%;
}

.main-header-icon {
    text-decoration: none;
    color: cornsilk;
    font-size: 30px;
    hover: orange;
}

.main-nav {
    width: 100vw;
    height: 10vh;
    color: slategray;
    padding: 2% 5% 2% 5%;
}

.main-nav-order {
    margin: 10px;
}

ul, li, a {
    display: inline;
    list-style-type: none;
    margin: 2% 0 2% 0;
    text-decoration: none;
    color: slategray;
    font-size: 20px;

}

ul, li:hover, a:hover {
    color: orange;
}







/*a {*/
    /*text-decoration: none;*/
    /*color: slategray;*/
    /*font-size: 20px;*/
/*}*/



